<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link rel="stylesheet" href="/yourcssgoeshere/style.css">
</head>
<body>
    <%- include('../partials/portfolioLogo')%>
    <%- include('../partials/navigationBar')%>
    <main>
        <h1>Welcome to the About page</h1>
        <p>I am an international student studying in the Centennial College. My current program is AI, proficient with JavaScript, C#, Python, C++, NodeJS, HTML+CSS, Java, SQL workspaces.<br>
        <a href="/yourpdfgoeshere/contactMe.pdf" target="_blank">My resume</a></p>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>