<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About Me</title>
    </head>
    <body>
        <div>
            <header>
                <%- include('../partials/portfolioLogo')%>
                <%- include('../partials/navigationBar')%>
            </header>
            <main>
                <%- include('../partials/heading')%>
                <div>
                    <p> I am an international student studying in the Centennial College. My current program is AI, proficient with JavaScript, C#, Python, C++, NodeJS, HTML+CSS, Java, SQL workspaces.
                        <br><a href="/yourpdfgoeshere/contactMe.pdf" target="_blank"> My resume</a> 
                    </p>
                </div>
            </main>
            <%- include('../partials/footer')%>
        </div>
    </body>
</html>