<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <header>
                <%- include('../partials/portfolioLogo')%>
                <%- include('../partials/navigationBar')%>
                <hr>
            </header>
            <main>
                <%- include('../partials/heading')%>
                <div>
                    <p>Welcome to my portfolio website! <a href="aboutMe" target="_blank">About Me</a></p>
                </div>
            </main>
            <%- include('../partials/footer')%>
        </div>
    </body>
</html>