<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
        <link rel="stylesheet" href="/yourcssgoeshere/style.css">
    </head>
    <body>
        <div>
                <%- include('../partials/portfolioLogo')%>
                <%- include('../partials/navigationBar')%>
            <main>
                <%- include('../partials/heading')%>

                <p>Projects that I did :</p>
                <div id="projects">

                    Contributed to an indie Unity game back in 2021.<br>
                    Contributed to various git projects over the years.

                </div>
            </main>
            <%- include('../partials/footer')%>
        </div>
    </body>
</html>